<footer class="fixed bottom-0 left-0 right-0 flex justify-center items-center px-6 py-3 text-white">
    <div class="px-2 py-2 rounded-full flex items-center justify-between gap-2 mx-auto border-t-2 border-b-[5px] border-l-[3px] border-r-[3px] border-gray-200">
        <div class="bg-primary rounded-full px-2 pb-0.2 pt-0.25">
            <i class="fa-solid fa-copyright text-xl text-white"></i>
        </div>
        <span class="text-sm text-gray-800 px-5">2025 SpotLink. Tous droits réservés.</span>
    </div>
</footer>